html, body {
  margin: 0;
  padding: 0; }

.container {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 525px;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .container .login {
    width: 25%;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid grey;
    margin: 0px 0px 0px 70%;
    -webkit-box-shadow: 2px 2px 6px black;
    box-shadow: 2px 2px 6px black; }
    @media (max-width: 768px) {
      .container .login {
        width: 80%; } }
    .container .login h3 {
      margin: 0px 0px 40px;
      color: #0b0b0c;
      font-weight: bold; }
    .container .login .errMsg {
      font-size: 15px;
      color: #fd4463;
      margin: 0;
      padding: 0; }
    .container .login .form-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid grey;
      margin: 20px auto 30px; }
      .container .login .form-group input {
        outline: none;
        border: none;
        background-color: transparent;
        height: 100%;
        width: 95%; }
      .container .login .form-group input::-webkit-input-placeholder {
        font-size: 10px;
        color: black; }
      .container .login .form-group input:-ms-input-placeholder {
        font-size: 10px;
        color: black; }
      .container .login .form-group input::-ms-input-placeholder {
        font-size: 10px;
        color: black; }
      .container .login .form-group input::placeholder {
        font-size: 10px;
        color: black; }
    .container .login input[type=submit] {
      background-color: #2539ac;
      width: 50%;
      margin: 0px 25%;
      padding: 5px 10px;
      font-size: 17px;
      outline: none;
      border: none;
      border-radius: 5px;
      color: whitesmoke; }
