* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.login-holder {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .login-holder .login {
    width: 25%;
    border-radius: 20px;
    padding: 20px;
    background-color: blanchedalmond;
    margin: 0px 0px 0px 70%;
    -webkit-box-shadow: 2px 2px 6px black;
    box-shadow: 2px 2px 6px black; }
    @media (max-width: 768px) {
      .login-holder .login {
        width: 90%;
        margin: 0px auto; } }
    .login-holder .login h3 {
      margin: 0px 0px 40px;
      color: #0b0b0c;
      font-weight: bold; }
    .login-holder .login .errMsg {
      font-size: 15px;
      color: #fd4463;
      margin: 0;
      padding: 0; }
    .login-holder .login .successMsg {
      font-size: 15px;
      color: #43ec76;
      margin: 0;
      padding: 0; }
    .login-holder .login .form-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid grey;
      margin: 20px auto 30px; }
      .login-holder .login .form-group input {
        outline: none;
        border: none;
        background-color: transparent;
        height: 100%;
        width: 95%; }
      .login-holder .login .form-group input::-webkit-input-placeholder {
        font-size: 10px;
        color: black; }
      .login-holder .login .form-group input:-ms-input-placeholder {
        font-size: 10px;
        color: black; }
      .login-holder .login .form-group input::-ms-input-placeholder {
        font-size: 10px;
        color: black; }
      .login-holder .login .form-group input::placeholder {
        font-size: 10px;
        color: black; }
    .login-holder .login input[type=submit] {
      background-color: #2539ac;
      width: 50%;
      margin: 0px 25%;
      padding: 5px 10px;
      font-size: 17px;
      outline: none;
      border: none;
      border-radius: 5px;
      color: whitesmoke; }

.add-record-modal {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000; }
  .add-record-modal .modal-content {
    width: 40%;
    border-radius: 20px;
    padding: 0px 0px; }
    @media (max-width: 768px) {
      .add-record-modal .modal-content {
        width: 100%;
        height: 100vh;
        border-radius: 0px; } }
    .add-record-modal .modal-content header {
      padding: 5px;
      position: relative; }
      @media (max-width: 768px) {
        .add-record-modal .modal-content header {
          padding: 15px; } }
      .add-record-modal .modal-content header h2 {
        color: whitesmoke;
        font-weight: 400;
        font-size: 20px;
        padding-left: 5px; }
      .add-record-modal .modal-content header span {
        font-size: 42px;
        color: whitesmoke;
        font-weight: 400;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: -6px;
        right: 14px;
        cursor: pointer; }
        @media (max-width: 768px) {
          .add-record-modal .modal-content header span {
            top: -5px; } }
      .add-record-modal .modal-content header span:hover {
        color: red; }
    .add-record-modal .modal-content main {
      padding: 10px 20px 20px !important;
      min-height: 36.5vh !important; }
      @media (max-width: 768px) {
        .add-record-modal .modal-content main {
          padding: 20px 20px; } }
      .add-record-modal .modal-content main span {
        color: #f38a8a;
        font-size: smaller; }
      .add-record-modal .modal-content main .form-group {
        padding: 5px;
        margin: 0px auto 0px; }
        @media (max-width: 768px) {
          .add-record-modal .modal-content main .form-group {
            padding: 10px; } }
        .add-record-modal .modal-content main .form-group label {
          margin: 0;
          font-weight: bold; }
        .add-record-modal .modal-content main .form-group input {
          border-radius: 5px;
          border: 0.5px solid grey;
          outline: none;
          font-size: 13px;
          background-color: transparent;
          padding: 5px 10px;
          width: 95%; }
        .add-record-modal .modal-content main .form-group select {
          border-radius: 5px;
          border: 0.5px solid grey;
          outline: none;
          font-size: 13px;
          padding: 5px 10px;
          background-color: transparent;
          height: 100%;
          width: 95%; }
          .add-record-modal .modal-content main .form-group select option {
            background-color: #f8ecec; }
        .add-record-modal .modal-content main .form-group option:hover {
          border: 0; }
        .add-record-modal .modal-content main .form-group input::-webkit-input-placeholder {
          font-size: 13px;
          color: black; }
        .add-record-modal .modal-content main .form-group input:-ms-input-placeholder {
          font-size: 13px;
          color: black; }
        .add-record-modal .modal-content main .form-group input::-ms-input-placeholder {
          font-size: 13px;
          color: black; }
        .add-record-modal .modal-content main .form-group input::placeholder {
          font-size: 13px;
          color: black; }
          @media (max-width: 768px) {
            .add-record-modal .modal-content main .form-group input::-webkit-input-placeholder {
              font-size: 15px; }
            .add-record-modal .modal-content main .form-group input:-ms-input-placeholder {
              font-size: 15px; }
            .add-record-modal .modal-content main .form-group input::-ms-input-placeholder {
              font-size: 15px; }
            .add-record-modal .modal-content main .form-group input::placeholder {
              font-size: 15px; } }
      .add-record-modal .modal-content main input[type=submit] {
        background-color: #2539ac;
        width: 50%;
        margin: 10px 25% 0px;
        padding: 5px 10px;
        font-size: 17px;
        outline: none;
        border: none;
        border-radius: 5px;
        color: whitesmoke; }

#main {
  height: 100vh;
  position: relative; }
  #main header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #6886c5; }
    #main header .logo-holder {
      color: blanchedalmond;
      width: 50%;
      padding: 20px 10px; }
      #main header .logo-holder .logo {
        width: 70px; }
        #main header .logo-holder .logo img {
          width: 100%; }
    #main header .user-details {
      color: blanchedalmond;
      padding: 0px 10px 20px 0px;
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      #main header .user-details .user {
        position: relative; }
        #main header .user-details .user .ctas {
          width: 100px;
          position: absolute;
          bottom: -58px;
          right: -10px;
          margin: 0;
          padding: 0px;
          background-color: #fffcf7; }
          #main header .user-details .user .ctas li {
            list-style-type: none;
            padding: 2px 5px; }
            #main header .user-details .user .ctas li a {
              padding: 3px;
              color: #292727;
              text-decoration: none;
              font-size: small; }
          #main header .user-details .user .ctas li:hover {
            background-color: #035aa6; }
            #main header .user-details .user .ctas li:hover a {
              color: whitesmoke; }
        #main header .user-details .user p {
          margin: 0;
          padding: 0px 5px; }
          #main header .user-details .user p span {
            cursor: pointer; }
  #main .tab-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #main .tab-btns .account-book {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 50%; }
      #main .tab-btns .account-book .account-tab {
        outline: none;
        padding: 5px 10px;
        border: 2px solid #a4c5c6;
        width: 75%;
        background-color: #a4c5c6; }
      #main .tab-btns .account-book .account-tab:hover {
        background-color: #035aa6;
        border-color: #035aa6;
        color: whitesmoke; }
      #main .tab-btns .account-book .add {
        width: 10%;
        padding: 7.5px 0px;
        background-color: #6886c5;
        border: 2px solid #6886c5;
        margin: 0;
        outline: none;
        font-size: small; }
        @media (max-width: 768px) {
          #main .tab-btns .account-book .add {
            width: 20%; } }
      #main .tab-btns .account-book .add:hover {
        background-color: #000839;
        color: white;
        border-color: #000839; }
    #main .tab-btns .client-entry {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 50%; }
      #main .tab-btns .client-entry .client-tab {
        outline: none;
        padding: 5px 10px;
        border: 2px solid #a4c5c6;
        width: 75%;
        background-color: #a4c5c6; }
      #main .tab-btns .client-entry .client-tab:hover {
        background-color: #035aa6;
        border-color: #035aa6;
        color: whitesmoke; }
      #main .tab-btns .client-entry .add {
        width: 10%;
        padding: 7.5px 0px;
        background-color: #6886c5;
        border: 2px solid #6886c5;
        margin: 0;
        outline: none;
        font-size: small; }
        @media (max-width: 768px) {
          #main .tab-btns .client-entry .add {
            width: 20%; } }
      #main .tab-btns .client-entry .add:hover {
        background-color: #000839;
        color: white;
        border-color: #000839; }
  #main main {
    min-height: 61.5vh;
    padding: 20px 20px 0px; }
    @media (max-width: 768px) {
      #main main {
        padding: 20px 0px 0px;
        min-height: 63vh; } }
    #main main .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start; }
      #main main .title h4 {
        width: 30%; }
        @media (max-width: 768px) {
          #main main .title h4 {
            font-size: medium;
            width: 35%;
            padding-left: 5px; } }
      #main main .title .success {
        min-width: 50%;
        display: none;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-radius: 5px;
        margin-bottom: .4rem;
        padding: 2.5px 10px 0px;
        color: white;
        background-color: #b7efcd; }
        #main main .title .success p {
          margin: 0 !important;
          font-size: medium;
          font-weight: bold; }
        #main main .title .success span {
          margin-left: 10px;
          color: #ff9393; }
  #main .table-head {
    background-color: #a9c6de; }
  #main .action-btn {
    border: 0;
    padding: 0;
    margin-right: 4px;
    outline: none;
    border-radius: 5px;
    background-color: #3d55f0;
    color: whitesmoke;
    padding: .5px; }
  #main .action-btn:hover {
    background-color: #000839; }
  #main footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #323232;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px; }
    #main footer p {
      text-align: center;
      color: blanchedalmond;
      font-size: 20px;
      margin: 0;
      padding: 0; }

.fix {
  bottom: -29px !important; }

.pauseScroll {
  overflow-y: hidden !important; }

.showModalClass {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.showSuccessClass {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }
