{% extends 'index.html' %}

{% block content %}
  <!-- <script type='text/javascript'> 
    const jscontext={token: '{{ data | safe }}'}
    var Data = JSON.parse(jscontext.token)
  </script> -->
  <div
    id="main"
    :class="{pauseScroll: showModal}"
    v-if="Object.keys(this.current_data).length > 0"
  >
    <header>
      <div class="logo-holder">
        <div class="logo">
          <a v-bind:href=`/home?user=${current_data.user.username}` target="_self">
            <img src="static/images/logo.png" alt="SoftNexus Logo" >
          </a>
        </div>
      </div>
      <div class="user-details">
        <div class="user">
          <p>
            Hi, [[ current_data.user.username ]]
            <span
              @click="userActionDropDown=!userActionDropDown"
            >
              <i class="fa fa-sort-desc fa-1x" aria-hidden="true"></i>
            </span>
          </p>
          <ul 
            :class="[{fix: !current_data.user.is_admin},'ctas']"
            v-if="userActionDropDown"
          >
            <li>
              <a
                href="/logout_user"
              >Sign Out</a>
            </li>
            <li 
              v-if="current_data.user.is_admin"
            >
              <a href="#">Manage Users</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="tab-btns">
      <div class="account-book">
        <button
          @click="showAccList=true"
          class="account-tab"
        >Account Book</button>
        <button 
          @click="triggerRecordEntryView('account', 'add')"
          class="add"
          v-if="current_data.user.add_permit"
        >
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
        </button>
        <button 
          @click="seekPermit()"
          class="add"
          v-else
        >
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
        </button>
      </div>
      <div class="client-entry">
        <button
          class="client-tab"
          @click="showAccList=false"
        >Client Entries</button>
        <button
          class="add"
          v-if="current_data.user.add_permit"
          @click="triggerRecordEntryView('client', 'add')"
        >
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
        </button>
        <button
          class="add"
          v-else
          @click="seekPermit()"
        >
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
        </button>
      </div>
    </section>
    <main 
      v-if="showAccList"
      class="account-entry"
    >
    <div class="title">
      <h4>Account Record</h4>
      <div
        :class="[{showSuccessClass: successMsg != ''}, 'success']"
      >
      <p> [[ successMsg ]] </p>
      <span
        @click="successMsg = ''"
      ><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    </div>
      <div class="table-responsive">
        <table class="table .table-sm table-hover">
          <thead class="table-head">
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(account, index) in current_data.account_record"
            >
              <th scope="row"> [[ index + 1 ]] </th>
              <td> [[ account.description ]] </td>
              <td> [[ account.entry_type ]] </td>
              <td> [[ account.amount]] </td>
              <td> [[ account.date ]] </td>
              <td>
                <button 
                  class="action-btn"
                  v-if="current_data.user.edit_permit"
                  @click="triggerAccountUpdate(account.id)"
                >
                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </button>
                <button 
                  class="action-btn"
                  v-else
                  @click="seekPermit()"
                >
                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </button>
                <button 
                  class="action-btn"
                  v-if="current_data.user.delete_permit"
                  @click="triggerDelete(account.id, 'account')"
                >
                  <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                </button>
                <button 
                class="action-btn"
                v-else
                @click="seekPermit()"
              >
                <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <main 
      v-if="!showAccList"
      class="client-entry"
    >
    <div class="title">
      <h4>Client Record</h4>
      <div
        :class="[{showSuccessClass: successMsg != ''}, 'success']"
      >
      <p> [[ successMsg ]] </p>
      <span
        @click="successMsg = ''"
      ><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
    </div>
      <div class="table-responsive">
        <table class="table .table-sm table-hover">
          <thead class="table-head">
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Service Offered</th>
              <th scope="col">Client Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Amount Charged</th>
              <th scope="col">Amount Paid</th>
              <th scope="col">Date</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(client, index) in current_data.client_record"
            >
              <th scope="row"> [[ index + 1 ]] </th>
              <td> [[ client.service_offered ]] </td>
              <td> [[ client.client_name ]] </td>
              <td> [[ client.client_email]] </td>
              <td> [[ client.client_phone ]] </td>
              <td> [[ client.amount_charged ]] </td>
              <td> [[ client.amount_paid ]] </td>
              <td> [[ client.date ]] </td>             
              <td>
                <button 
                  class="action-btn"
                  v-if="current_data.user.edit_permit"
                  @click="triggerClientUpdate(client.id)"
                >
                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </button>
                <button 
                  class="action-btn"
                  v-else
                  @click="seekPermit()"
                >
                  <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                </button>
                <button 
                  class="action-btn"
                  v-if="current_data.user.delete_permit"
                  @click="triggerDelete(client.id, 'client')"
                >
                  <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                </button>
                <button 
                  class="action-btn"
                  v-else
                  @click="seekPermit()"
                >
                  <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                </button>
                <button
                  class="action-btn"
                  data-toggle="tooltip" data-placement="top" title="Generate invoice"
                >
                  <i class="fa fa-book" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer>
      <p>
        &copy;
        <span 
        v-html="new Date().getFullYear()"
        ></span>
        SoftNexus
      </p>
    </footer>

<!-- BEGINING OF Add And update MODAL -->
  <div
    :class="[{showModalClass: showModal}, 'add-record-modal']"
  >
    <div
      v-if="showAccEntry"
      class="modal-content accouunt-entry"
    >
        <header>
          <h2>
            [[ modalHeader ]]
          </h2>
          <span
            @click="closeModal()"
          >+</span>
        </header>
        <main>
          <form action="#">
            <span>[[ errorMsg ]]</span>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" @keyup.enter="addAccountRecord()" v-model="accountRecord.description" placeholder="Entry Description Here">
            </div>
            <div class="form-group">
              <label for="entry type">Choose Entry Type</label>
              <select v-model="accountRecord.type">
                <option value="">Entry type</option>
                <option value="Credit">Credit</option>
                <option value="Debit">Debit</option>              
              </select>
            </div>
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="text" @keyup.enter="addAccountRecord()" v-model="accountRecord.amount" placeholder="Enter amount in format(200.0)">
            </div>
            <input 
              type="submit"
              value="Update"
              v-if="edit_flag"
              @click.prevent="updateAccountRecord()"
            >
            <input 
              type="submit"
              value="Submit"
              v-else
              @click.prevent="addAccountRecord()"
            >
          </form>
        </main>
    </div>
    <div 
      v-if="showClientEntry"
      class="modal-content client-entry"
    >
      <header>
        <h2>
          [[ modalHeader ]]
        </h2>
        <span
          @click="closeModal()"
        >+</span>
      </header>
      <main>
        <form action="#">
          {% csrf_token %}
          <span>[[ errorMsg ]]</span>
          <div class="form-group">
            <label for="client name">Client Name*</label>
            <input type="text" name="client_name" v-model="clientRecord.name" placeholder="Akowanu Ganiu">
          </div>
          <div class="form-group">
            <label for="client email ">Client Email*</label>
            <input type="text" name="client_email" v-model="clientRecord.email" placeholder="client@example.com">
          </div>
          <div class="form-group">
            <label for="client phone">Client Phone Number</label>
            <input type="text" name="client_phone" v-model="clientRecord.phone_number" placeholder="07020025802">
          </div>
          <div class="form-group">
            <label for="service">Service Description*</label>
            <input type="text" name="service" v-model="clientRecord.service_offered" placeholder="Decription of service Offered">
          </div>
          <div class="form-group">
            <label for="amount charged">Amount Charged*</label>
            <input type="text" name="amount_charged" v-model="clientRecord.amount_charged" placeholder="2000000">
          </div>
          <div class="form-group">
            <label for="amount paid">Amount Paid</label>
            <input type="text" name="amount_paid" v-model="clientRecord.amount_paid" placeholder="1500000">
          </div>
          <input 
            type="submit"
            value="Update"
            v-if="edit_flag"
            @click.prevent="updateClientRecord()"
          >
          <input 
            type="submit"
            value="Submit"
            v-else
            @click.prevent="addClientRecord()"
          >
        </form>
      </main>
    </div>
  </div><!-- END OF Add And update MODAL -->
  <div 
    :class="[{showModalClass: delete_flag},'delete-modal']"
  >
    <div class="modal-content">
      <header>
        <h4>Confirm Delete</h4>
      </header>
      <main>
        <p>Are you sure you want to delete this entry?</p>
        <div class="comfirm_btn">
          <button 
            class="cancel"
            @click="cancelDelete()"
          >Cancel</button>
          <button 
            @click="deleteRecord()"
            class="del"
          >Delete</button>
        </div>
      </main>
    </div><!-- END OF DELETE MODAL -->
  </div>
  </div>
  <script src="static/js/index.js"></script>  
{% endblock %}