{% extends 'index.html' %}

{% block content %}
  <script type='text/javascript'> 
    const jscontext={token: '{{ invoice | safe }}'}
    var Data = JSON.parse(jscontext.token)
  </script>
<div
  id="invoiceApp"
  ref="content"
>
  <header>
    <div class="logo">
      <a href="/home">
        <img src="/static/images/SoftNexusMain_Logo_Mark.png" alt="SoftNexus Logo" >
      </a>
    </div>
    <div class="title">
      <h3>INVOICE</h3>
      <P># [[ invoice.id ]] </P>
    </div>
  </header>
  <body>
    <section class="first-section">
     <div class="left-side">
       <p class="p1">Bill To</p>
       <p class="p2"> [[ invoice.client_name ]] </p>
     </div>
     <div class="right-side">
       <div class="rows">
        <div class="column-1">
          <p>Date:</p>
          <p class="terms">Payment Terms:</p>
          <p>Due Date:</p>
         </div>
         <div class="column-2">
          <p> [[ currentDate() ]] </p>
          <p>At least, 20% beforehand</p>
          <p> [[ formatDate(invoice.due_date) ]] </p>
         </div>
       </div>
       <div class="row-bold">
        <p class="p-left">Balance Due:</p>
        <p class="p-right"> #[[ invoice.balance_due ]] </p>
       </div>
      </div>
    </section>
    <section class="product-holder">
     <div class="table-responsive">
      <table class="table .table-sm table-hover">
        <thead class="table-head thead-dark">
          <tr>
            <th scope="col" class="radius-left">
              <div class="item">
                Item
              </div>
            </th>
            <th scope="col">Quantity</th>
            <th scope="col">Rate</th>
            <th scope="col"  class="radius-right">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="item">
                [[ invoice.service_offered]]
              </div>
            </td>
            <td>
              [[ invoice.qty ]]
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              #[[ invoice.amount_charged ]]
            </td>
          </tr>
        </tbody>
      </table>
     </div>
    </section>
    <section class="summary-section">
      <div class="left-side">
      </div>
      <div class="right-side">
        <div class="rows">
         <div class="column-1">
           <p>Total:</p>
           <p class="terms">Amount Paid:</p>
          </div>
          <div class="column-2">
           <p> #[[ invoice.amount_charged ]] </p>
           <p> #[[ invoice.amount_paid ]] </p>
          </div>
        </div>
        <div class="row-bold">
         <p class="p-left">Balance Due:</p>
         <p> #[[ invoice.balance_due ]] </p>
        </div>
       </div>
     </section>
     <section class="last-section">
       <div class="note-terms">
        <div class="note">
          <p class="heading">Notes:</p>
          <p class="text">We reserve the right to use part of this project for our portfolio</p>
        </div>
        <div class="terms">
         <p class="heading">Terms:</p>
         <p class="text">Bla bla bla</p>
        </div>
       </div>
       <div 
          class="cta-holder"
          v-if="!beginDownload"
        >
        <a
          class="cta"
          :href=`/downlod_invoice?id=${invoice.id}`
        >
          Download Invoice
        </a>
        <a
          class="cta"
          :href=`/send_invoice?id=${invoice.id}`
        >
          Send Invoice
        </a>
       </div>      
     </section>
  </body>
 
</div>

<script>
  const userApp = new Vue({
    delimiters: ['[[',']]'],
    el: '#invoiceApp',
    data () {
      return {
        invoice: Data,
        beginDownload: false
      }
    },
    methods: {
      formatDate (dueDate) {
        dateData = dueDate.split('-')
        const year = dateData[0]
        const month = dateData[1]
        const day = dateData[2]
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const formattedDate = `${months[month - 1]} ${day}, ${year}`
        return formattedDate
      },
      currentDate () {
        const date = new Date()
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const formattedDate = `${months[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}`
        return formattedDate
      },
      printPdf () {
        this.beginDownload = true
        domtoimage.toPng(this.$refs.content)
        .then(function(dataUrl) {
          var img = new Image();
          img.src = dataUrl;
          const doc = new jsPDF({
            orientation: "portrait",
            // unit: "pt",
            format: [900, 1400]
          });
          doc.addImage(img, "JPEG", 20, 20);
          const date = new Date();
          const filename =
            "timechart_" +
            date.getFullYear() +
            ("0" + (date.getMonth() + 1)).slice(-2) +
            ("0" + date.getDate()).slice(-2) +
            ("0" + date.getHours()).slice(-2) +
            ("0" + date.getMinutes()).slice(-2) +
            ("0" + date.getSeconds()).slice(-2) +
            ".pdf";
          doc.save(filename);
          beginDownload = false
        })
        .catch(function(error) {
          console.error("oops, something went wrong!", error);
        });
      }
    }
  })
</script>
{% endblock %}

