{% extends 'index.html' %}

{% block content %}
  <div id="loginApp">
    <div class="login-holder">
      <div class="login">
        <h3>Login</h3>  
            <span class="successMsg">
              [[ successMessage ]]     
            </span>
            <span class="errMsg">
              [[ error ]]
            </span>
        <form action="/login" method="post">
          {% csrf_token %}
          <div class="form-group">
            <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
            <input 
              type="text" 
              autocomplete="off" 
              placeholder="Username"
              v-model="user.username"
              @keyup.enter="tryLogin()"
            >
          </div>
          <div class="form-group">
            <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
            <input
              type="password"
              autocomplete="off"
              placeholder="Password"
              v-model="user.password"
              @keyup.enter="tryLogin()"
            >
          </div>
          <input
            type="submit"
            value="Login"
            @click.prevent="tryLogin()"
          > 
        </form>
        <a href="/register">Sign Up here</a>
      </div>
    </div>
  </div>
<script>
  var loginApp = new Vue({
    delimiters: ['[[',']]'],
    el: '#loginApp',
    data () {
      return {
        error: '',
        successMessage: '',
        user: {
          username: '',
          password: ''
        }
      }
    },
    methods: {
      tryLogin () {
        username = this.user.username
        password = this.user.password

        if (password === '' || username === '') {
          this.error = 'Please provide your login credentials'
        } else if (password.length < 6) {
          this.error = 'Your password cannot be less than 6 characters'
        } else {
          this.error = ''
          thissuccessMessage =''
          const payload = {
            username: username,
            password: password
          }
          axios.post('/user_login', payload)
          .then((response) => {
            if (response.data.reply === 'access denied') {
              this.error = 'Invalid login credentials'
            } else {
              localStorage.setItem('user', JSON.stringify(response.data.reply))
              //self.location = `/home?user=${response.data.reply.user}`
              self.location = '/home'
            }
          })
          .catch((error) => {
            console.log({'error': error})
          })
        }
      }
    },
    mounted() {
      const message = localStorage.getItem('message')
      setTimeout(()=> {
        if (message !== null) {
          const msg = JSON.parse(message)
          this.successMessage = msg.message
        }
      }, 1000)

      setTimeout(()=> {
        this.successMessage = ''
        localStorage.clear()
      }, 6000)
    }
  })
</script>
{% endblock %}
