{% extends 'index.html' %}

{% block content %}
  <div id="loginApp">
    <nav class="nav-bar">
      <div class="logo">
        <a href="/" target="_self">
          <img src="/static/images/SoftNexusMain_Logo_Mark.png" alt="SoftNexus Logo" >
        </a>
      </div>
    </nav>
    <div class="login-holder">
      <div class="login">
        <div class="head">
          <h3>LogIn</h3>
          <a href="/register">Sign Up</a>
        </div>
        <span class="successMsg">
          [[ successMessage ]]     
        </span>
        <span class="errMsg">
          [[ error ]]
        </span>
        <form action="/login" method="post">
          {% csrf_token %}
          <div class="form-group">
            <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
            <input 
              type="text" 
              autocomplete="off" 
              placeholder="Username"
              v-model="user.username"
              @keyup.enter="tryLogin()"
            >
          </div>
          <div class="form-group">
            <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
            <input
              type="password"
              autocomplete="off"
              placeholder="Password"
              v-model="user.password"
              @keyup.enter="tryLogin()"
            >
          </div>
          <input
            type="submit"
            value="Login"
            @click.prevent="tryLogin()"
          > 
        </form>
      </div>
    </div>
  </div>
<script>
  var loginApp = new Vue({
    delimiters: ['[[',']]'],
    el: '#loginApp',
    data () {
      return {
        error: '',
        successMessage: '',
        user: {
          username: '',
          password: ''
        }
      }
    },
    methods: {
      tryLogin () {
        username = this.user.username
        password = this.user.password

        if (password === '' || username === '') {
          this.error = 'Please provide your login credentials'
        } else if (password.length < 6) {
          this.error = 'Your password cannot be less than 6 characters'
        } else {
          this.error = ''
          thissuccessMessage =''
          const payload = {
            username: username,
            password: password
          }
          axios.post('/rest-auth/login/', payload)
          .then((response) => {
            if (response.data.key) {
              console.log(response.data)
              newPayload = {
                user: username,
                token: response.data.key 
              }
              localStorage.setItem('user', JSON.stringify(newPayload))
              self.location = '/home'
            } else {
              console.log(response.data)
            }
          })
          .catch((error) => {
            this.error = 'Invalid login credentials'
          })
        }
      }
    },
    mounted() {
      const message = localStorage.getItem('message')
      setTimeout(()=> {
        if (message !== null) {
          const msg = JSON.parse(message)
          this.successMessage = msg.message
        }
      }, 1000)

      setTimeout(()=> {
        this.successMessage = ''
        localStorage.clear()
      }, 6000)
    }
  })
</script>
{% endblock %}
