{% extends 'index.html' %}

{% block content %}
  <div id="regApp">
    <div class="login-holder">
      <div class="login">
        <h3>Sign Up</h3>
        <span class="errMsg">
          [[ error ]]
        </span>
        <form action="#" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          <div class="form-group">
            <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
            <input
              type="text"
              v-model="user.username"
              autocomplete="off"
              placeholder="Username"
              @keyup.enter="register()"
            >
          </div>
          <div class="form-group">
            <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
            <input
              type="text"
              v-model="user.email"
              autocomplete="off"
              placeholder="Email"
              @keyup.enter="register()"
            >
          </div>
          <div class="form-group">
            <span>
              <i class="fa fa-upload" aria-hidden="true"></i>
              [[ file_name ]]
            </span>
            <!-- <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length" -->

            <input
              type="file"
              @change="filesChange($event.target.files)"
              accept="image/*"
              autocomplete="off"
              placeholder="Email"
              @keyup.enter="register()"
              class="input-file"
            >
          </div>
          <div class="form-group">
            <span><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input
              type="password"
              v-model="user.password"
              autocomplete="off"
              placeholder="Password"
              @keyup.enter="register()"
            >
          </div>
          <div class="form-group">
            <span><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input 
              type="password"
              v-model="user.comfirmpass" 
              autocomplete="off"
              placeholder="Comfirm Password"
              @keyup.enter="register()"
            >
          </div>
          <input
            type="submit"
            @click.prevent="register()"
            value="Sign Up"
          > 
        </form>
        <p class="reg-redirect">Already have an account? <a href="/">Sign In here</a></p>
      </div>
    </div>
  </div>
  <script>
    var loginApp = new Vue({
      delimiters: ['[[',']]'],
      el: '#regApp',
      data () {
        return {
          error: '',
          successMessage: '',
          file_name: 'Upload profile picture',
          user: {
            username: '',
            email: '',
            profile_pic: '',
            password: '',
            comfirmpass: ''
          }
        }
      },
      methods: {
        filesChange (file) {
          this.user.profile_pic = file
          const file_name = file[0].name
          this.file_name = file_name
        },
        register () {
          username = this.user.username
          email = this.user.email
          password = this.user.password
          comfirmpass = this.user.comfirmpass
          profile_pic = this.user.profile_pic
  
          if (password === '' || username === '' || email === '') {
            this.error = 'Please fill out the all the fields'
          } else if (!this.validEmail(email)) {
            this.error = 'Please provide a valid email address'
          } else if (password.length < 6) {
            this.error = 'Your password cannot be less than 6 characters'
          } else if (password !== comfirmpass) {
            this.error = 'Password fields does not match'
          }else if (profile_pic == '') {
            this.error = 'Please choose a profile picture'
          } else {

            payload  = new FormData()
            for (const file of profile_pic) {
              payload.append('file', file, file.name)
            }
            payload.append('username', username)
            payload.append('email', email)
            payload.append('password', password)
        

            this.error = ''
            thissuccessMessage =''
            let url = `/register_user`

            const fetchData  = {
              method: 'post',
              body:  payload,
            }
      
            fetch(url, fetchData)
            .then(resp => {
                if(resp.ok) {
                    return resp.json()
                } else {
                    return Promise.reject()
                }
            })
            .then(data => {
              if (data.reply === 'success') {
                localStorage.setItem('message', JSON.stringify({message: 'Registration successful, Please login'}))
                self.location = '/'
              } else {
                this.error = data.reply
              }
            })
            .catch(error => {
              console.log(error)
            })
          }
        },
        validEmail(email) {
          const regex = /^\S+@\S+\.\S+$/;
          if(regex.test(email) === false) {
              return false
          } else{
            return true
          }
        },
      }
    })
  </script>
{% endblock %}