{% extends 'index.html' %}

{% block content %}
  <script type='text/javascript'> 
    const jscontext={token: '{{ users | safe }}'}
    var Data = JSON.parse(jscontext.token)
    console.log(Data)
    const Admin = JSON.parse(localStorage.getItem('user'))
  </script>
  <div
    id="main"
    :class="{pauseScroll: showModal_flag}"
  >
    <header>
      <div class="logo-holder">
        <div class="logo">
          <a v-bind:href=`/user_permission` target="_self">
            <img src="static/images/logo.png" alt="SoftNexus Logo" >
          </a>
        </div>
      </div>
      <div class="user-details">
        <div class="user">
          <p>
            Hi, [[ admin.user]]
            <span
              @click="userActionDropDown=!userActionDropDown"
            >
              <i class="fa fa-sort-desc fa-1x" aria-hidden="true"></i>
            </span>
          </p>
          <ul 
            class="ctas"
            v-if="userActionDropDown"
          >
            <li>
              <a
                href="/logout_user"
              >Sign Out</a>
            </li>
            <li>
              <a href="/home">account</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="user-section">
      <h4>User Management</h4>
      <div
        :class="[{showSuccessClass: successMsg != ''}, 'user_permit_success']"
      >
      <p> [[ successMsg ]] </p>
      <span
        @click="successMsg = ''"
      ><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
      <main>
        <div class="table-responsive">
          <table class="table .table-sm table-hover">
            <thead class="table-head">
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">UserName</th>
                <th scope="col">User Role</th>
                <th scope="col">Permissions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(user, index) in users"
                v-if="!user.is_superuser"
              >
                <th scope="row"> 
                  [[ index + 1 ]] 
                </th>
                <td> [[ user.username ]] </td>
                <td v-if="user.is_staff">Staff</td>
                <td class="action-btn-holder">
                  <button
                    :class="[
                      {permit: user.permissions.add_permit},
                      {notPermit: !user.permissions.add_permit},'action-btn'
                    ]"
                    v-if="!user.permissions.add_permit"
                    @click="triggerPermitRequest(user.permissions.user_id, user.username, 'add', 'grant')"
                  >
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                  </button>
                  <button 
                    :class="[
                      {permit: user.permissions.add_permit},
                      {notPermit: !user.permissions.add_permit},'action-btn'
                    ]"
                    v-else
                    @click="triggerPermitRequest(user.permissions.user_id, user.username, 'add', 'deny')"
                  >
                    <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                  </button>
                  <!-- END OF ADD BUTTON -->
                  <button
                    :class="[
                      {permit: user.permissions.edit_permit},
                      {notPermit: !user.permissions.edit_permit},'action-btn'
                    ]"
                    v-if="!user.permissions.edit_permit"
                    @click="triggerPermitRequest(user.permissions.user_id, user.username, 'edit', 'grant')"
                  >
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                  </button>
                  <button
                    :class="[
                      {permit: user.permissions.edit_permit},
                      {notPermit: !user.permissions.edit_permit},'action-btn'
                    ]"
                    v-else
                    @click="triggerPermitRequest(user.permissions.user_id, user.username, 'edit', 'deny')"
                  >
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                  </button>
                  <!-- END OF UPDATE BUTTON -->
                  <button 
                  :class="[
                    {permit: user.permissions.delete_permit},
                    {notPermit: !user.permissions.delete_permit},'action-btn'
                  ]"
                  v-if="!user.permissions.delete_permit"
                  @click="triggerPermitRequest(user.permissions.user_id, user.username, 'delete', 'grant')"
                >
                  <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                  </button>
                  <button 
                    :class="[
                      {permit: user.permissions.delete_permit},
                      {notPermit: !user.permissions.delete_permit},'action-btn'
                    ]"
                    v-else
                    @click="triggerPermitRequest(user.permissions.user_id, user.username, 'delete', 'deny')"
                  >
                    <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                  </button>
                  <!-- END OF DELETE BUTTON -->
                  <button 
                    :class="[
                      {permit: user.permissions.download_permit},
                      {notPermit: !user.permissions.download_permit},'action-btn'
                    ]"
                    v-if="!user.permissions.download_permit"
                    @click="triggerPermitRequest(user.permissions.user_id, user.username, 'download', 'grant')"
                  >
                  <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                  </button>
                  <button 
                    :class="[
                      {permit: user.permissions.download_permit},
                      {notPermit: !user.permissions.download_permit},'action-btn'
                    ]"
                    v-else
                    @click="triggerPermitRequest(user.permissions.user_id, user.username, 'download', 'deny')"
                  >
                    <i class="fa fa-download fa-lg" aria-hidden="true"></i>
                  </button>
                  <!-- END OF DOWNLOAD BUTTON -->
                </td>
            </tr>
            </tbody>
          </table>
        </div>
      </main>
    </section>
    <footer>
      <p>
        &copy;
        <span 
        v-html="new Date().getFullYear()"
        ></span>
        SoftNexus
      </p>
    </footer>
    <div 
    :class="[{showModalClass: showModal_flag},'delete-modal']"
  >
    <div class="modal-content">
      <header>
        <h4>Permission</h4>
      </header>
      <main>
        <p> [[ permission_request_text ]] </p>
        <div class="comfirm_btn">
          <button 
            class="cancel"
            @click="closeModal()"
          >Cancel</button>
          <button 
            @click="permitUser(permit)"
            class="permit"
          > [[ permit ]] </button>
        </div>
      </main>
    </div><!-- END OF DELETE MODAL -->
  </div>
</div>
  
<script>
  const userApp = new Vue({
    delimiters: ['[[',']]'],
    el: '#main',
    data () {
      return {
        users: Data,
        admin: Admin,
        permission_request_text: '',
        successMsg: '',
        permit_type: '',
        permit: '',
        showModal_flag: false,
        current_id: 0,
        userActionDropDown: false
      }
    },
    methods: {
      triggerPermitRequest (id, user, permit_type, permit) {
        let request_text
        if (permit_type === 'edit') {
          permit === 'grant' ? request_text = `Grant ${user} permission to update` : request_text = `Deny ${user} of update permit`
          this.permission_request_text = request_text
          this.permit_type = 'edit_permit'
        } else if (permit_type === 'add') {
          permit === 'grant' ? request_text = `Grant ${user} permission to add` : request_text = `Deny ${user} of add permit`
          this.permission_request_text = request_text
          this.permit_type = 'add_permit'
        } else if (permit_type === 'delete') {
          permit === 'grant' ? request_text = `Grant ${user} permission to delete` : request_text = `Deny ${user} of delete permit`
          this.permission_request_text = request_text
          this.permit_type = 'delete_permit'
        } else if (permit_type === 'download') {
          permit === 'grant' ? request_text = `Grant ${user} permission to download` : request_text = `Deny ${user} of download permit`
          this.permission_request_text = request_text
          this.permit_type = 'download_permit'
        }

        permit === 'grant' ? this.permit = 'Grant' : this.permit = 'Deny'
        this.current_id = id
        this.showModal_flag = true
      },

      closeModal() {
        this.current_id = 0
        this.showModal_flag = false
        this.permission_request_text = ''
        this.permit_type = ''
      },

      permitUser (permit) {
        user_id = this.current_id
        permit_type = this.permit_type
        
        const data = {
          user_id: user_id,
          permit_type: permit_type,
          admin: this.admin.user
        }

        this.closeModal()

        axios.put('/permit_user', data)
        .then((response) => {
          if (response.data.reply === 'Access denied') {
            this.showPermitted('Access Denied, you must have done some trick to get here')
          } else {
            if (permit === 'Grant') {
              this.showPermitted('Permission granted, proceed to inform user')
            }else if (permit === 'Deny') {
              this.showPermitted('Permission denied')
            }
            this.users = response.data.reply.users
          }
        })
        .catch((error) => {
          console.log({error: error})
        })
      },

      showPermitted (msg) {
        this.successMsg = msg
        setTimeout(()=> this.successMsg = '', 5000)
      },
    }
  })
</script>
{% endblock %}

