* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
} 

#loginApp, #regApp {
  .nav-bar{
    color: blanchedalmond;
    width: 100%;
    padding: 0px 10px;
  
    .logo {
      width: 90px;
      img {
        width: 100%;
      }
    }
  }
  .login-holder {
    background: url(../images/bg.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
    background-size: cover;
    height: 94.8vh;
    width: 100%; 
    padding: 50px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    .login {
      width: 35%;
      border-radius: 20px;
      padding: 20px;
      background-color: #fffafa;
      box-shadow: 2px 2px 4px black;
      @media (max-width: 768px) {
        width: 100%;
        margin: 0px auto;
      }

      .head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 30px;

        h3 {
          margin: 0px;
          color: rgb(78, 78, 78);
          font-weight: bold;
        }
        a {
          text-decoration: none;
          font-weight: bold;
          padding: 2px 4px;
          border-radius: 5px;
          color: rgb(78, 78, 78);
          &:hover {
            background-color: rgb(37, 57, 172);
            color: whitesmoke;
          }
        }
      }
      .errMsg {
        font-size: 15px;
        color: rgb(253, 68, 99);
        margin: 0;
        padding: 0;
      }
      .successMsg {
        font-size: 15px;
        color: rgb(67, 236, 118);
        margin: 0;
        padding: 0;
      }
      .form-group {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
        margin: 20px auto 30px;

        input {
          outline: none;
          border: none;
          padding-left: 5px;
          padding-top: 2px;
          font-size: 14px;
          background-color: transparent;
          height: 100%;
          width: 95%;
        }
        input::placeholder {
          font-size: 10px;
          color: rgb(199, 196, 196)
        }
      }
      input[type=submit] {
        background-color: rgb(37, 57, 172);
        width: 50%;
        margin: 0px 0px 0px 50%;
        padding: 5px 10px;
        font-size: 17px;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 5px;
        color: whitesmoke;
        &:hover {
          background-color: rgb(0, 14, 95);
        }
      }
    }
  }
  span {
    cursor: pointer;
  }
  .file-name {
    font-size: 10px;
    color: rgb(199, 196, 196);
    cursor: pointer;
  }
  .file-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 5px;
    cursor: pointer;
  }
}
// End of LoginApp and RegApp

.add-record-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  z-index: 1000;
  @media (max-width: 768px) {
    overflow-y: scroll;
  }

  .modal-content {
    width: 50%;
    border-radius: 20px;
    padding: 0px 0px;
    @media (max-width: 768px) {
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      border-radius: 0px;
    }

    header {
      padding: 5px;
      border-radius: 20px 20px 0px 0px;
      position: relative;
      @media (max-width: 768px) {
        padding: 15px;
        border-radius: 0px;
      }
      h2 {
        color: whitesmoke;
        font-weight: 400;
        font-size: 20px;
        padding-left: 5px;
      }
      span {
        font-size: 42px;
        color: whitesmoke;
        font-weight: 400;
        transform: rotate(45deg);
        position: absolute;
        top: -16px;
        right: 14px;
        cursor: pointer;
        &:hover {
          color: red;
        }
        @media (max-width: 768px) {
          top: -5px;
        }
      }
    }
    .client-main {
      @media (max-width: 768px) {
        overflow-y: scroll;
      }
    } 
    main {
      padding: 10px 20px 20px;
      @media (max-width: 768px) {
        padding: 20px 20px;
      }
      span {
        color: rgb(243, 138, 138);
        font-size: smaller;
      }
      .group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo {
          width: 70px;
          img {
            width: 100%;
          }
        }
        .date {
          p {
            color: rgb(36, 34, 34);
            font-weight: bolder;
          }
        }
      }
      .form-group {
        padding: 5px; 
        width: 50%;
        margin: 0px auto 0px; 
        @media (max-width: 768px) {
          padding: 10px;
        }
        label {
          margin: 0;
          font-weight: bold;
          font-size: 12px;
        }
        input {
          border-radius: 5px;
          border: 0.5px solid grey;
          outline: none;
          font-size: 13px;
          background-color: transparent;
          padding: 5px 10px;
          width: 95%;
        }

        select {
          border-radius: 5px;
          border: 0.5px solid grey;
          outline: none;
          font-size: 13px;
          padding: 5px 10px;
          background-color: transparent;
          height: 100%;
          width: 95%;
          option {
            background-color: rgb(248, 236, 236);
          }
        }
        option:hover {
          border: 0
        }
        input::placeholder {
          font-size: 10px;
          color: rgb(199, 196, 196)
        }
      }
      input[type=submit] {
        background-color: rgb(37, 57, 172);
        width: 50%;
        margin: 20px 25% 0px;
        padding: 5px 10px;
        font-size: 17px;
        outline: none;
        border: none;
        border-radius: 5px;
        color: whitesmoke;
      }
    }

   
  }
}
// End of .add-record-modal
#main {
  height: 100vh;
  position: relative;
  header {
    display: flex;
    justify-content: space-between;
    background-color: #6886c5;
    .logo-holder {
      color: blanchedalmond;
      width: 50%;
      padding: 20px 10px;

      .logo {
        width: 100px;
        img {
          width: 100%;
        }
      }
    }
    .user-details {
      color: blanchedalmond;
      padding: 0px 10px 20px 0px;
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .user-avartar {
        width: 45px;
        img{
          border-radius: 50%;
          width: 100%;
        }
      }
      .user {
        position: relative;
        .ctas{
          width: 100px;
          position: absolute;
          bottom: -58px;
          right: -10px;
          margin: 0;
          padding: 0px;
          background-color: rgb(255, 252, 247);
          
          li {
            list-style-type: none;
            padding: 2px 5px;
            a {
              padding: 3px;
              color: rgb(41, 39, 39);
              text-decoration: none;
              font-size: small;
            }
          }
          li:hover {
            background-color: #035aa6;
            a {
              color: whitesmoke;
            }
          }          
        }
        p {
          margin: 0;
          padding: 0px 5px;
  
          span {
            cursor: pointer;
          }
        }
      }
    }
    .table th {
      text-align: center !important;
    }
    .table th,
    .table td {
      padding: .5rem !important;
      vertical-align: bottom !important;
    }
  }
  .tab-btns {
    display: flex;
    .account-book {
      width: 50%;
      .account-tab {
        border: 0;
        border-right: 2px solid #f3f6f7;
      }
    }
    .client-entry {
      width: 50%;
      .client-tab {
        border: 0;
        border-left: 2px solid #f3f6f7;
      }
    }
    button {
      outline: none;
      padding: 10px;
      width: 100%;
      font-size: larger;
      font-weight: 700;
      letter-spacing: 2px;
      color: #2f2519;
      background-color: #a4c5c6;
      @media (max-width: 768px) {
        padding: 5px;
        letter-spacing: 0;
      }        
    }
    button:hover {
      background-color: #035aa6;
      border-color: #035aa6;
      color: whitesmoke;
    }
  }
  .main {
    min-height: 61.9vh;
    padding: 20px 10px 0px;
    @media (max-width: 768px) {
      padding: 20px 0px 0px;
      min-height: 64.4vh;
    }
    .record-header {
      display: flex;
      justify-content: space-between;
      .title {
        display: flex;
        justify-content: flex-start;
        width: 90%;
        padding: 0 5px;
        @media (max-width: 768px) {
          width: 75%;
        }
        h4 {
          width: 42%;
          font-size: larger;
          font-weight: bold;
          letter-spacing: 3px;
          color: rgb(41, 40, 40);
          @media (max-width: 768px) {
            font-size: medium;
            width: 20%;
            letter-spacing: 0;
            margin-right: 2.5px;
          }
        }
        .success {
          display: none;
          justify-content: space-between;
          border-radius: 5px;
          margin-bottom: .4rem;
          padding: 2.5px 10px 0px;
          color: rgb(255, 255, 255);
          background-color: #b7efcd;
          p {
            margin: 0 !important;
            font-size: medium;
            font-weight: bold;
          }
          span {
            margin-left: 10px;
            color: rgb(255, 147, 147);
            cursor: pointer;
          }
        }
      }
      .add-btn {
        width: 10%;
        padding: 0 5px;
        margin-bottom: .5rem;
        @media (max-width: 768px) {
          width: 22%;
        }
        .add {
          width: 100%;
          padding: 0px 0px;
          background-color: #6886c5;
          border: 0;
          border-radius: 10px;
          margin: 0;
          outline: none;
          font-size: large;
          color: whitesmoke;
          @media (max-width: 768px) {
            // width: 20%;
          }
        }
        .add:hover {
        background-color: #000839;
        color: white;
        border-color: #000839
        }
      }
    }
  }
  .table-head {
    background-color: #a9c6de
  }
  .action-btn {
    border: 0;
    padding: 0;
    margin: 0px;
    outline: none;
    border-radius: 5px;
    background-color: #3d55f0;
    color: whitesmoke;
    padding: .5px;
  }
  .action-btn:hover {
    background-color: #000839;
  }
  
  footer {
    display: flex;
    background-color: #323232;
    justify-content: center;
    align-items: center;
    padding: 40px;
    p {
      text-align: center;
      color: blanchedalmond;
      font-size: 20px;
      margin: 0;
      padding: 0;
    }
  }
}
// End of main
.export-csv {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 0 5px;
  a {
    border-radius: 10px;
    text-decoration: none;
    padding: 4px 10px;
    outline: none;
    font-size: smaller;
    color: whitesmoke;
    font-weight: bold;
    border: 0;
    background-color: rgb(67, 236, 118);
  }
}
// End of .export-csv

.client-action-button-holder {
  width: 66px;
}
.account-action-button-holder {
  width:46px;
}
.user-action-button-holder {
  width: 96px;
}
// End of table manipulation
.action-btn-holder {
  width: 50px !important;
}

.user_permit_success {
  display: none;
  justify-content: space-between;
  border-radius: 5px;
  width: 40%;
  margin: 1rem auto 0rem ;
  padding: 2.5px 10px 2.5px 15px;
  color: rgb(255, 255, 255);
  background-color: #b7efcd;
  @media (max-width: 768px) {
    width: 80%;
  }
  p {
    margin: 0 !important;
    font-size: medium;
    font-weight: bold;
  }
  span {
    margin-left: 10px;
    color: rgb(255, 147, 147);
    cursor: pointer;
  }
}
// End of user_permit_success
.delete-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.1);
  z-index: 1000;

  .modal-content {
    width: 30%;
    border: 0;
    border-radius: 20px;
    padding: 0px 0px 10px;
    @media (max-width: 768px) {
      width: 82%;
    }
    header {
      border-radius: 20px 20px 0px 0px;
      display: block !important;
      h4 {
        text-align: center!important;
        font-size: x-large;
        padding-top: 5px;
        font-weight: bold;
        color: rgb(218, 216, 216);
      }
    }
    main {
      min-height: auto !important;
      padding: 20px 10px 0px !important;
      p {
        font-size: large;
        font-weight: 500;
        color: rgb(11, 11, 12);
      }
      .comfirm_btn {
        display: flex;
        justify-content: flex-end;
        button {
          outline: none;
          border-radius: 5px;
          margin-left: 20px;
          border: 0;
          color: rgb(248, 236, 236);
          font-size: medium;
          font-weight: 900;
        }
        .del {
          background-color: rgb(243, 138, 138);
        }
        .del:hover {
          background-color: rgb(204, 44, 44);
        }
        .cancel {
          background-color: rgb(100, 151, 247);
        }
        .cancel:hover {
          background-color: rgb(29, 102, 236);
        }
        .permt {
          background-color: #32e0c4;
        }
        .permt:hover {
          background-color: #2fc4b2;
        }
      }
    }
  }
}
// End of .delete-modal
.user-section {
  h4 {
    margin: 0;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 3px;
    padding-top: 20px;
    color: rgb(41, 40, 40)
  }
  main {
    min-height: 63.3vh;
    padding: 20px 10px 5px;
    @media (max-width: 768px) {
      min-height: 64.7vh;
    }
    .action-btn {
      padding: 0px 3px;
    }
  }
}
// End of .user-section

#invoiceApp {
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .logo {
      width: 90px;
      img {
        width: 100%;
      }
    }
    .title {
      h3 {
        color: rgb(27, 27, 27);
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
      p {
        color: rgb(189, 181, 181);
        text-align: right;
      }
    }
  }
  .first-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .left-side {
      width: 60%;
      p {
        margin: 0;
        padding: 0;
      }
      .p1 {
        color: rgb(190, 189, 189);
      }
      .p2 {
        font-weight: bolder;
      }
    }
    .right-side {
      width: 40%;
      .rows {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
       .column-1 {
         width: 60%;
         margin-right: 0px;
         .terms {
           margin-bottom: 24px;
         }
         p {
           color: rgb(190, 189, 189);
           font-weight: 600;
           margin: 0 0 5px 0;
           text-align: right;
         } 
        }
        .column-2 {
          width: 40%;
          margin-right: 0px;
          p {
            font-weight: 500;
            margin: 0 0 5px 0;
            text-align: right;
          }
        }
      }
      .row-bold {
        background-color: rgb(240, 236, 236);
        display: flex;
        justify-content: space-between;
        padding: 3px 20px 3px 10px;
        border-radius: 5px;
        p {
          display: inline;
          font-weight: bolder;
          text-align: right;
          margin: 0;
        }
        .p-left {
          padding-left: 8.99rem;
        }
      }
    }
  }
  .product-holder {
    .item {
      // padding-left: 10px;
      width: 20rem;
      text-align: left !important;
    }
    .table th {
      text-align: right !important;
    }
    .table td {
      padding-left: 20px !important;
      text-align: left !important;
    }
  }
}

/////////////////////
// ON FLY CLASSES///
///////////////////
.fix {
  bottom: -29px !important;
}
      
.pauseScroll {
  overflow-y: hidden !important;
}

.showModalClass {
  display: flex !important;
}

.showSuccessClass {
  display: flex !important;
}

.permit {
  background-color: #32e0c4 !important;
}

.notPermit {
  background-color: #e84a5f !important;
}

.activeTab {
  border-bottom: 4px solid rgba(19, 167, 19, 0.849) !important;
}

.fileSelected {
  color: rgb(39, 38, 38) !important;
  font-size: 14px !important;
}